*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px gray solid;
    padding: 20px 150px;
}

.box1{
    
    & h1{
        font-size: 18px;
        text-transform: capitalize;
    }
}

.box2{

    display: flex;
    align-items: center;
    gap: 30px;

    & a{
        text-decoration: none;
        background-color: rgb(50, 48, 48);
        color: white;
        padding: 20px 30px;
        border-radius: 35px;
        transition: all 0.3s linear;

        &:hover{
            background-color: rgb(110, 107, 107);
        }
    }

    & span{
        font-size: 22px;
    }
}

.section-1{
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    padding-bottom: 15px;

    & .box11{
            & .image{
                text-align: end;     
            }

        & h1{
            margin-top: 30px;
            font-size: 55px;
            text-transform: capitalize;
            letter-spacing: 3px;
        }

        & .parent{
            display: flex;
            flex-direction: column;
            gap: 20px;

            & .an{
                border: 1px solid;
                width: 200px;
                padding: 10px;
                margin-bottom: 80px;
            }

            & a{
                text-decoration: none;
                text-transform: capitalize;
                font-size: 22px;
            }
        }
    }

    & .box22{
        & .img2{
            text-align: center;
            margin-bottom: 70px;
        }

        & h1{
            font-size: 45px;
        }

        & .italic{
            font-size: 18px;
            word-spacing: 3px;
            margin: 15px 0px;
            padding: 0px 24px;
            line-height: 38px;
            border-left: 4px rgb(236, 236, 10) solid;
        }

        & p{
            word-spacing: 3px;
            line-height: 28px;
        }

        & a{
            text-decoration: none;
            text-transform:uppercase;
            font-size: 16px;
            color: #8badd6;
        }
    }
}

.border{
   
    & div{
        width: 80%;
        border: 1px rgb(219, 219, 219) groove;
        margin-left: 150px;
    }
}

.section-2{
            margin-top: 40px;
            background-color: rgb(104, 56, 188);
            padding: 20px 0px;

    & .purple1{
        display: flex;
        gap: 35px;
        margin-left: 180px;

        & div{
            color: white;
        }
       
        & .box-31{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 35px;

            & .box-311{
                font-size: 17px;
                font-weight: 700;
                line-height: 30px;

        }

        & .box-312{    
                    line-height: 30px;
                    font-size: 17px;

            &::first-line{
                font-weight: 700;
            }
        }

        & .box-313{
            font-size: 17px;
            font-weight: 700;
            }
}

        & .box-32{
            font-size: 17px;
            line-height: 30px;

          & span{
            font-weight: 700;
            margin-left: 150px;
          }

          & #underline{
            text-decoration: underline;
        }
        }
    }
}

.section-3{
    background-color: rgb(222, 219, 226);
    padding: 20px 0;
    padding-bottom: 50px;

    & .silver{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 25px;
        margin-left: 180px;
        font-size: 15px;
    }

    & .box-41{

        & h1{
            font-size: 35px;
        }
    }

    & .box-43{

        &::first-line{
            font-weight: 700;
        }
    }
}
